<style>
</style>

<main class="main">
  <div class="content">
    <div class="row">
      <div class="col-md-12"> <!-- Use the full width -->
        <div class="border-thick p-1 d-flex justify-content-between align-items-center">
          <h4 class="text-white mb-0 hoverable-header" (click)="resetToHome()">Simple Weather</h4>
          <!-- <button type="button" class="btn btn-secondary" (click)="resetToHome()">Home</button> -->
          <!-- <app-city-search></app-city-search> -->
        </div>
      </div>
    </div>
    <app-city-tab></app-city-tab>
    <app-weather></app-weather>
  </div>
</main>
<router-outlet />

